# === IntelliJ IDEA ===
.idea/
*.iml
*.ipr
*.iws

# === Eclipse (若有) ===
.project
.classpath
.settings/
# 项目排除路径


/eureDemo/target/
/eureDemo2/target/
/microservice-order/target/
/microservice-item/target/